.buyerHome {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);

  .heroSection {
    padding: 5em 0;
    background: url('../../../assets/heroBg.webp') top center no-repeat;
    background-size: cover;
    height: 100vh;

    .heroText {
      padding-left: 4em;
      width: 40%;
      h2 {
        font-size: 5rem;
        line-height: 1em;
        font-weight: 700;
      }
    }
  }

  .skinCareBanner {
    padding: 5em 0;
    background: url('../../../assets/skinCareBg.webp') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;

    .skinCareText {
      padding-right: 2em;
      width: 40%;
      h2 {
        font-size: 4rem;
        line-height: 1em;
        font-weight: 700;
        span {
          color: var(--mainColor);
        }
      }
    }
  }

  .popularProduct {
    .popularProductTitle {
      h3 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1em;
        margin: 0.5em 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .heroSection {
      background: url('../../../assets/heroBg.webp') top left no-repeat;
      background-size: cover;
      .heroText {
        width: 60%;

        h2 {
          font-size: 2rem;
          line-height: 1em;
          font-weight: 700;
        }
      }
    }

    .skinCareBanner {
      padding: 5em 0;
      background: url('../../../assets/skinCareBg.webp') top center no-repeat;
      background-size: cover;
      height: 80vh;

      .skinCareText {
        width: 40%;

        h2 {
          font-size: 2rem;
          line-height: 1em;
          font-weight: 700;
          span {
            color: var(--mainColor);
          }
        }
      }
    }

    .popularProduct {
      width: 90%;
      .popularProductTitle {
        h3 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 1em;
          margin: 0.5em 0;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .heroSection {
      background: url('../../../assets/heroBg.webp') bottom right no-repeat;
      background-size: cover;

      .heroText {
        width: 90%;
        text-align: center;

        h2 {
          font-size: 2rem;
          line-height: 1em;
          font-weight: 700;
        }
      }
    }

    .skinCareBanner {
      padding: 5em 0;
      background: url('../../../assets/skinCareBg.webp') center center no-repeat;
      background-size: fill;
      height: 80vh;

      .skinCareText {
        width: 90%;
        text-align: center;
        h2 {
          font-size: 2rem;
          line-height: 1em;
          font-weight: 700;
          span {
            color: var(--mainColor);
          }
        }
      }
    }
  }
}
