.categoryCard {
  margin: 4em auto;

  .catImage {
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: 6px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }

    .main-btn {
      background: var(--green);
    }
  }

  @media screen and (max-width: 900px) {
    margin: 0.5em auto;

    .catImage {
      margin: 0;
      overflow: hidden;
      border-radius: 6px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center right;
      }
    }
  }
}
