@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #666;
  --mainColor: #903677;
  --green: #83b528;
  --grey1: #f6f7ff;
  --grey2: #66666666;
  --white: #fff;

  /* background-color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[class*="ant"] {
  font-family: "Poppins", sans-serif !important;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.ant-popover .ant-popover-inner {
  padding: 0px;
}

.ant-select-selector {
  border: none !important;
  box-shadow: 0 0 #0000 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent !important;
}

img {
  width: 100%;
  height: 100%;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #8f3677;
}

.ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #8f3677;
  padding: 6px;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #8f3677;
  font-size: 16px;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #8f3677;
  font-size: 16px;
}

.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #8f3677;
  font-size: 16px;
}
.ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #8f3677;
  padding: 6px;
}

.ant-switch {
  background: gray;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #8f3677;
}

.ant-switch.ant-switch-checked {
  background: #8f3677;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
